<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>generar-qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" > -->

        <div style="display: flex; flex-direction: column;justify-content: center;align-items: center;margin-top:5rem ;">
          <img src="../../../assets/img/generar-qr.webp" alt="" style="width: 30%;min-width: 20rem; max-height: 30rem;">
          <h1>ESCANEAME</h1>
        </div>
      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
