<ion-content [fullscreen]="true">
  <div class="container">
    <div class="title">
      <p>RegistrApp</p>
      <div class="title-image">
        <img src="../../../assets/img/qr-feliz.png"  alt="" >
      </div>  
    </div>
    
      <div class="form">
        <label for="">Usuario</label><br>
        <input type="text" placeholder=""><br><br>
        <label for="">Contraseña</label><br>
        <input type="password" placeholder="">
      </div>
    
      <div class="btn-login" [routerLink]="['/about']">Iniciar Sesión</div>
  </div>
</ion-content>
