.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    
    width: 100%;
    background-color:#052c54;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    *{
        min-width: 15rem;
    }
}
.title{
    color: #f2ba27;
    font-size: 2rem;
    display: inline-block;
    letter-spacing: 6px;
    // border: 1px solid white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.form {
    color: #f2ba27;
    letter-spacing: 3px;
    text-align: left;
    margin: 3rem 0 2rem 0;
    input{
        border-radius: 7.5px;
        border: none;
        padding: 7px;
        margin-top: 7px;
    }
    
}

.btn-login{
    border: 1px solid white;
    background-color: #f2ba27;
    padding: 1rem 0 1rem 0;
    border-radius: 15px;
    font-size: 1.25rem;
    cursor: pointer;
}